<!DOCTYPE html>
<html lang="ca">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Espai de Coworking a Gràcia, Barcelona | Oficines Flexibles - Landem
		</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="title" content="Coworking-Landem" />
		<meta
			name="description"
			content="Lloga la teva oficina al nostre coworking a Gràcia, Barcelona. Espais moderns, internet ràpid, sales de reunions i comunitat emprenedora. Reserva avui i treballa millor!"
		/>
		<meta
			name="keywords"
			content="coworking, oficina compartida, espai de treball, coworking a Barcelona, sales de reunions, oficines flexibles, comunitat emprenedora, espai col·laboratiu, treball remot, networking, coworking a Gràcia, espai de coworking a Barcelona, oficines compartides a Gràcia, lloguer de despatxos a Barcelona, sales de reunions a Gràcia, oficines flexibles a Barcelona, comunitat emprenedora a Gràcia, espai col·laboratiu a Barcelona, teletreball a Gràcia, networking a Barcelona, coworking amb llum natural, espai de treball amb accés 24/7, coworking amb cuina equipada, oficines amb aire condicionat, coworking prop del metro Lesseps, espai de treball amb taquilles privades, coworking amb impressora i escàner, espai de coworking per a autònoms, oficines privades a Gràcia, coworking amb sales d'esdeveniments"
		/>
		<meta name="author" content="Lucas Arce" />
		<meta
			property="og:title"
			content="Coworking a Gràcia, Barcelona | Landem"
		/>
		<meta
			property="og:description"
			content="Oficines flexibles, sales de reunions i una comunitat professional. Reserva el teu espai de treball a Gràcia!"
		/>
		<meta
			property="og:image"
			content="{{ url_for('static', filename='images/oficina/camprodon5.jpg') }}"
		/>
		<meta property="og:url" content="https://coworkinglandem.es/ca/" />
		<meta property="og:type" content="website" />
		<script type="application/ld+json">
				{
					"@context": "https://schema.org",
					"@type": "CoworkingSpace",
					"name": "Coworking Landem",
					"url": "https://coworkinglandem.es",
					"image": "https://coworkinglandem.es/static/images/oficina/camprodon5.jpg"
					"sameAs": [
						"https://www.instagram.com/landempm",
						"https://es.linkedin.com/company/landem"
					],
					"address": {
						"@type": "PostalAddress",
						"streetAddress": "Carrer de Camprodon, 26",
						"addressLocality": "Barcelona",
						"addressRegion": "Cataluña",
						"postalCode": "08012",
						"addressCountry": "ES"
					},
					"contactPoint": {
						"@type": "ContactPoint",
						"telephone": "+34 934 579 827",
						"contactType": "Customer Service"
					}
				}
		</script>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/styles.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/responsive.css') }}"
		/>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
		<header class="menu">
			<a href="https://landem.es/" target="_blank" title="Landem">
				<img
					class="menu__logotipo"
					src="{{ url_for('static', filename='images/logotipo/completo-gris.png') }}"
					alt="Landem"
				/>
			</a>
			<nav class="menu__navbar">
				<a href="#Nosotros">Nosaltres</a>
				<a href="#Servicios">Serveis</a>
				<a href="#Planes">Plans</a>
				<a href="#Contacto">Contacte</a>
			</nav>
			<div class="menu__selector">
				<button class="lang-btn">Idioma ▾</button>
				<div class="lang-dropdown">
					<a href="/">Español</a>
					<a href="/ca">Català</a>
					<a href="/en">English</a>
				</div>
			</div>
		</header>
		<div id="cookie-banner" class="cookie-banner">
			<p>
				Fem servir cookies per millorar la teva experiència a la nostra pàgina.
				Al continuar navegant, acceptes la nostra
				<a target="_blank" href="https://landem.es/politica-de-privacidad/"
					>política de cookies</a
				>.
			</p>
			<button id="accept-cookies">Acceptar</button>
		</div>
		<div class="anuncio-principal">
			<h1 class="anuncio-principal__titulo">Coworking a Gràcia, Barcelona</h1>
			<h2 class="anuncio-principal__subtitulo">
				Un espai diferent per treballar còmode i tranquil!
			</h2>
		</div>
		<section id="Nosotros">
			<div class="section-title">
				<h2>Sobre nosaltres</h2>
			</div>
			<div class="sobre-nosotros">
				<div>
					<img
						class="sobre-nosotros__image"
						src="{{ url_for('static', filename='images/oficina/camprodon3.jpg') }}"
						alt="Oficina"
					/>
				</div>
				<div class="sobre-nosotros__text">
					Ubicat al cor de l'encantador barri de Gràcia, a
					<span>Carrer de Camprodon, 26</span>, el nostre espai de coworking
					ofereix un entorn exclusiu i tranquil, ideal per a professionals que
					busquen productivitat i confort en un ambient agradable i sense
					aglomeracions.
					<ul>
						<li>
							<span>Ubicació Privilegiada</span>: Situat al centre de Barcelona,
							en una zona ben comunicada i envoltada de serveis, botigues i
							cafeteries.
						</li>
						<li>
							<span>Ambient Professional</span>: Dissenyat per a professionals
							de diversos sectors, incloent enginyeria civil, arquitectura,
							disseny i tecnologia, que valoren un entorn de treball còmode i
							sense distraccions.
						</li>
						<li>
							<span>Espais de Treball</span>: Oferim oficines privades de 12 m²,
							completament equipades i llistes per al seu ús immediat.
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section id="Servicios">
			<div class="section-title">
				<h2>Serveis inclosos</h2>
			</div>
			<div class="listado">
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/imprimir.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">Impressora</div>
				</div>
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/metro.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">Bona connexió</div>
				</div>
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/restaurante.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">Cuina equipada</div>
				</div>
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/wc.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">2 banys</div>
				</div>
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/wifi.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">Wifi alta velocitat</div>
				</div>
				<div class="listado__servicio">
					<img
						class="listado__servicio--icono"
						src="{{ url_for('static', filename='images/iconos/aire.png') }}"
						alt="Servicio"
					/>
					<div class="listado__servicio--titulo">Aire condicionat</div>
				</div>
			</div>
		</section>
		<section id="Planes">
			<div class="section-title">
				<h2>Trieu el pla que millor s'adapti a les vostres necessitats</h2>
			</div>
			<div class="listado">
				<div class="listado__plan">
					<img
						class="listado__plan--foto"
						src="{{ url_for('static', filename='images/iconos/fijo.png') }}"
						alt="Plan"
					/>
					<div class="listado__plan--titulo">Lloc fix</div>
					<div class="listado__plan--description">
						El teu escriptori exclusiu, sempre reservat per a tu. Perfecte per
						als qui necessiten estabilitat i un entorn personalitzat. Inclou
						emmagatzematge propi i accés complet a totes les àrees comunes.
					</div>
					<div class="listado__plan--precio">
						Des de 230€ al mes (IVA No inclòs)
					</div>
					<div class="listado__plan--reserva">Reservar ara</div>
				</div>
				<div class="listado__plan">
					<img
						class="listado__plan--foto"
						src="{{ url_for('static', filename='images/iconos/flex.jpg') }}"
						alt="Plan"
					/>
					<div class="listado__plan--titulo">Lloc flexible</div>
					<div class="listado__plan--description">
						Accedeix a un espai de treball dinàmic i còmode quan el necessitis.
						Veuen, tria qualsevol lloc disponible i gaudeix de totes les
						comoditats de la nostra comunitat coworking.
					</div>
					<div class="listado__plan--precio">
						Des de 120€ al mes (IVA No inclòs)
					</div>
					<div class="listado__plan--reserva">Reservar ara</div>
				</div>
				<div class="listado__plan">
					<img
						class="listado__plan--foto"
						src="{{ url_for('static', filename='images/iconos/reuniones.png') }}"
						alt="Plan"
					/>
					<div class="listado__plan--titulo">Sala de reunions</div>
					<div class="listado__plan--description">
						Espais professionals equipats per a les teves reunions,
						presentacions o videoconferències. Reserva per hora o per dia, amb
						tecnologia de primer nivell, privacitat i l'ambient adequat per a
						causar una gran impressió.
					</div>
					<div class="listado__plan--precio">
						Des de 15€ l'hora (IVA No inclòs)
					</div>
					<div class="listado__plan--reserva">Reservar ara</div>
				</div>
			</div>
		</section>
		<section id="Galeria">
			<div class="section-title">
				<h2>El nostre espai</h2>
			</div>
			<div class="slider">
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon0.jpg') }}"
					class="slide active"
					alt="Oficina coworking amb llum natural a Gràcia, Barcelona"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon1.jpg') }}"
					class="slide"
					alt="Sala de reunions moderna en un espai de coworking a Barcelona"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon2.jpg') }}"
					class="slide"
					alt="Espai de treball compartit amb taules àmplies a Gràcia"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon4.jpg') }}"
					class="slide"
					alt="Zona comuna per fer networking i descansar en coworking"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon6.jpg') }}"
					class="slide"
					alt="Entrada de coworking amb disseny minimalista a Barcelona"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon7.jpg') }}"
					class="slide"
					alt="Espais flexibles per a startups i autònoms a Gràcia"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon8.jpg') }}"
					class="slide"
					alt="Coworking amb connexió a internet d'alta velocitat"
				/>
				<img
					src="{{ url_for('static', filename='images/oficina/camprodon9.jpg') }}"
					class="slide"
					alt="Ambient col·laboratiu en oficina compartida a Barcelona"
				/>
			</div>
		</section>
		<section id="Contacto">
			<div class="section-title">
				<h2>Contacte</h2>
			</div>
			<div class="listado-contacto">
				<div class="mapa-location">
					<div class="mapa-location__titulo">
						Carrer de Camprodon, 26, Barcelona
					</div>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1940.0309100623945!2d2.164093276094215!3d41.40075964914031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a371ff512f79%3A0x8c94be5e3aa1d328!2sCoworking%20Camprodon%20-%20Landem!5e0!3m2!1ses!2ses!4v1746907131242!5m2!1ses!2ses"
						class="mapa-location__iframe"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
				<div class="modal__contenido--contacto">
					<h2>Contacta amb nosaltres, envia la teva sol·licitud!</h2>
					<form action="/enviar" method="POST" id="formularioContacto">
						<div class="formularioContacto__titles">Informació personal:</div>
						<label
							>Email:
							<input type="email" name="email" required />
						</label>
						<label
							>Telèfon:
							<input type="tel" name="telefono" required />
						</label>
						<label
							>Empresa:
							<input type="text" name="empresa" required />
						</label>
						<div class="formularioContacto__titles">Tipus de sol·licitud:</div>
						<label
							>Selecciona el tipus de pla:
							<select name="plan" required>
								<option value="">-- Selecciona una opció --</option>
								<option value="fixed">Lloc fix</option>
								<option value="flex">Lloc flexible</option>
								<option value="reunion">Sala de reunions</option>
								<option value="mesa">Taula conjunta</option>
							</select>
						</label>
						<label
							>Numero de persones:
							<select name="personas" required>
								<option value="">-- Selecciona una opció --</option>
								<option value="1">1 persona</option>
								<option value="2-4">de 2 a 4</option>
								<option value="5-8">de 5 a 8</option>
								<option value=">8">més de 8</option>
							</select>
						</label>
						<label
							>Missatge:
							<textarea name="mensaje" rows="4"></textarea>
						</label>
						<label class="checkbox">
							<input type="checkbox" name="privacidad" required />
							Accepto rebre resposta de Landem
						</label>
						<input type="hidden" name="idioma" value="{{ lang }}" />
						<button type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</section>
		<div class="modal" id="modal">
			<div class="modal__overlay" id="modalOverlay"></div>
			<div class="modal__contenido">
				<button class="modal__cerrar" id="cerrarModal">✕</button>
				<h2>Contacta amb nosaltres, envia la teva sol·licitud!</h2>
				<form action="/enviar" method="POST" id="formularioContacto">
					<div class="formularioContacto__titles">Informació personal:</div>
					<label
						>Email:
						<input type="email" name="email" required />
					</label>
					<label
						>Telèfon:
						<input type="tel" name="telefono" required />
					</label>
					<label
						>Empresa:
						<input type="text" name="empresa" required />
					</label>
					<div class="formularioContacto__titles">Tipus de sol·licitud:</div>
					<label
						>Selecciona el tipus de pla:
						<select name="plan" required>
							<option value="">-- Selecciona una opció --</option>
							<option value="fixed">Lloc fix</option>
							<option value="flex">Lloc flexible</option>
							<option value="reunion">Sala de reunions</option>
							<option value="mesa">Taula conjunta</option>
						</select>
					</label>
					<label
						>Numero de persones:
						<select name="personas" required>
							<option value="">-- Selecciona una opció --</option>
							<option value="1">1 persona</option>
							<option value="2-4">de 2 a 4</option>
							<option value="5-8">de 5 a 8</option>
							<option value=">8">més de 8</option>
						</select>
					</label>
					<label
						>Missatge:
						<textarea name="mensaje" rows="4"></textarea>
					</label>
					<label class="checkbox">
						<input type="checkbox" name="privacidad" required />
						Accepto rebre resposta de Landem
					</label>
					<input type="hidden" name="idioma" value="{{ lang }}" />
					<button type="submit">Enviar</button>
				</form>
			</div>
		</div>
		<footer class="footer">
			<div class="footer-left">
				<img
					src="{{ url_for('static', filename='images/logotipo/landem.png') }}"
					alt="Logo"
					class="footer-logo"
				/>
			</div>
			<div class="footer-center">
				<img
					src="{{ url_for('static', filename='images/iconos/llamar.png') }}"
					alt="Teléfono"
				/>
				<p>934 579 827</p>
			</div>
			<div class="footer-center">
				<img
					src="{{ url_for('static', filename='images/iconos/carta.png') }}"
					alt="Mail"
				/>
				<p>info@landem.es</p>
			</div>
			<div class="footer-right">&copy; Copyright 2025 Landem</div>
		</footer>
	</body>
</html>
